<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <bean id="propertyConfigurer"
    class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="properties">
      <bean class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
          <list>        
            <value>classpath:/persistence.properties</value>
          </list>
        </property>
      </bean>
    </property>
  </bean>  
  
  <bean id="sesameRepository" class="com.mysema.rdfbean.sesame.MemoryRepository">
    <property name="sources">
        <list>
            <bean class="com.mysema.rdfbean.model.io.RDFSource">
                <constructor-arg value="classpath:demo.owl"/>
                <constructor-arg value="RDFXML" />
                <constructor-arg value="http://www.mysema.com/rdfbean/demo"/>
            </bean>
            <bean class="com.mysema.rdfbean.model.io.RDFSource">
                <constructor-arg value="classpath:demodata.owl"/>
                <constructor-arg value="RDFXML" />
                <constructor-arg value="http://www.mysema.com/rdfbean/demodata"/>
            </bean>
        </list>
    </property>
    <!-- 
    <property name="dataDirName" value="${persistence.sesame.mem.dir}"/>
     -->
     <property name="sesameInference" value="true"/>
  </bean>
 
  <bean id="configuration" class="com.mysema.rdfbean.object.DefaultConfiguration">
      <constructor-arg>
          <list>
          	  <value>com.mysema.rdf.demo.domain.Company</value>
			  <value>com.mysema.rdf.demo.domain.Party</value>
              <value>com.mysema.rdf.demo.domain.Person</value>
          </list>
      </constructor-arg>
      <property name="defaultContext" value="http://demo.mysema.com/rdfbean-demo"/>
  </bean>
  
  <bean id="sessionFactory" class="com.mysema.rdfbean.spring.ContextAwareSessionFactory"
        init-method="initialize" destroy-method="close">
    <property name="configuration" ref="configuration"/>
    <property name="repository" ref="sesameRepository"/>
  </bean>
  
  <bean id="transactionManager" class="com.mysema.rdfbean.spring.RDFBeanTransactionManager">
    <constructor-arg ref="sessionFactory"/>
  </bean>
  
  <bean id="demoService" class="com.mysema.rdf.demo.service.DemoService"/>
  
</beans>